@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.nav-item {
    text-decoration: none;
    transition: 0.3s;
    padding: 20px;
    font-weight: bold;
    font-size: 16pt;
}

.nav-item .nav-link:hover {
    background-color: #0096FF;
    color:white;
}

.ada_name{
    font-weight: bold;
    font-size:20pt;
}

a.see_more {
    float: right;
}

#contact{
    height: 79vh;
}

